:host {
  display: block;
}

.wrapper{
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-layout {
  .wrapper {
    background: transparent;
  }
}

.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
  color: white;
}