/* You can add global styles to this file, and also import other style files */
html,body {
  margin: 0;
  padding: 0;
  height: 100%; 
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
}

@import "primeicons/primeicons.css";

@import "primeng/resources/primeng.css";

@import "primeflex/primeflex.css";

.pi{
  cursor: pointer;
  font-size: 1.2rem
}